<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <%= simple_form_for @track, html: { multipart: true } do |f| %>
          <%= form_image_select(@track) %>

   <label for="file-input">
     <span class="glyphicon glyphicon-camera"></span>
   </label>Añadir foto

   <%= f.file_field :image, id:"file-input", onChange: 'loadFile(event)' %>
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Nueva sesion</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Nombre</label>
              <div class="col-md-9">
                <%= f.text_field :tittle, class:"form-control", placeholder: "nombre del reto" %>          
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="tipo">Tipo de sesion</label>
              <div class="col-md-9">
                <%= f.input :category, label: false,:collection => [['Running',1],['Bicicleta',2],['Piscina',3],['Rutina gimnasio/reps',4]], onChange: 'loadType(event)' %>
              </div>
            </div>

            <div class="form-group form-inline">
              <label class="col-md-3 control-label" for="tipo">Fecha</label>
              <div class="col-md-9">
                <div class='input-group date' id='datetimepicker6'>
                <%= f.date_field :date, class:"form-control"%>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            </div>
            </div>  


              <div class="form-group">
              <label class="col-md-3 control-label" for="tipo">Duracion</label>
              <div class="col-md-9">
                <%= f.time_field :duration,class:"form-control", label: false %>
              </div>
            </div>


              <div class="form-group">
              <label class="col-md-3 control-label" for="tipo">Distancia</label>
              <div class="col-md-9">
                <%= f.number_field :quantity, class:"form-control", label: false %>
              </div>
            </div>

            <div class="form-group">             
              <label class="col-md-3 control-label" for="tipo">Repeticiones</label>
              <div class="col-md-9">
                <%= f.number_field :quantity, class:"form-control", label: false %>
            </div>
          </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Comentarios</label>
              <div class="col-md-9">
                <%= f.text_area :comments, class:"form-control", rows: '5'%>
              </div>
            </div>
            <%= f.hidden_field_tag :challenge_id, @challenge.id %>
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
              </div>
            </div>
          </fieldset>
          </form>
          <% end %>
        </div>
      </div>
  </div>
</div><!--./row --><!--./container -->