.text-left
  = image_tag(@challenge.image.url(:medium))
.col-md-6
  .user-name-and-follow
    = render 'layouts/navbarmed'
    %h3.profile-user-name
      = @challenge.name
    %span
      - if @challenge.user == current_user
        = link_to 'Edit Profile', edit_challenge_path(@challenge.id),
                                  class: 'btn edit-button'
      - else
        - if current_user_is_following(current_user.id, @challenge.id)
          = link_to 'Following', unfollow_challenge_path,
                                   remote: true,
                                   class: 'btn unfollow-button',
                                   id: 'unfollow-button',
                                   method: :post
        - else
          = link_to 'Follow', follow_challenge_path,
                                  remote: true,
                                  class: 'btn follow-button',
                                  id: 'follow-button',
                                  method: :post
.add-ajax
  - if @challenge.posts.any?  
    = render 'posts/posts', posts: @posts
= render 'track'
