
        <%= simple_form_for @challenge, html: { multipart: true } do |f| %>
          <div class="form-group">
            <label for="challenge-name" class="form-control-label">Challenge Image:</label>
            <%= f.input :image, label: '<figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure>'.html_safe , input_html: { onChange: 'loadFile(event)' } %>
          </div>
          <div class="form-inline">
          <div class="form-group">
            <label for="challenge-name" class="form-control-label">Name:</label>
            <%= f.text_field :name, class:"form-control", placeholder: "challenge name" %>          
          </div>
          <div class="form-group">
            <label for="challenge-type" class="form-control-label">Type:</label>
            <%= f.input :category, label: false,:collection => [['Running',1],['Bicicle',2],['Gym rutine/reps',3]] %>
          </div>
      </div>
      <div class="form-inline">
<div class="container">
    <div class='col-md-3'>
        <div class="form-group">
            <label for="challenge-name" class="form-control-label">Start date:</label>
            <div class='input-group date' id='datetimepicker6'>
                <%= f.text_field :start_date, class:"form-control"%>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>  
    <div class='col-md-3'>
        <div class="form-group">
            <label for="challenge-name" class="form-control-label">Start date:</label>
            <div class='input-group date' id='datetimepicker7'>
                <%= f.text_field :end_date, class:"form-control"%>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
</div>
          <div class="form-group">
            <label for="challenge-rules" class="form-control-label">Rules:</label>
            <%= f.text_field :rules, class:"form-control"%>
          </div>
          <div class="form-group">
            <label for="description-text" class="form-control-label">Description:</label>
            <%= f.text_field :description, class:"form-control"%>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Close</button>
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
      <% end %>