
        <%= simple_form_for @track, html: { multipart: true } do |f| %>
          <div class="form-group">
            <label for="challenge-name" class="form-control-label">Challenge Image:</label>
            <%= f.input :image, input_html: { onChange: 'loadFile(event)' } %>
          </div>
          <div class="form-inline">
          <div class="form-group">
            <label for="challenge-name" class="form-control-label">Name:</label>
            <%= f.text_field :tittle, class:"form-control", placeholder: "challenge name" %>          
          </div>
          <div class="form-group">
            <label for="challenge-type" class="form-control-label">Type:</label>
            <%= f.input :category, label: false,:collection => [['Running',1],['Bicicle',2],['Gym rutine/reps',3]] %>
          </div>
      </div>
      <div class="form-inline">
<div class="container">
    <div class='col-md-3'>
        <div class="form-group">
            <label for="challenge-name" class="form-control-label">Start date:</label>
            <div class='input-group date' id='datetimepicker6'>
                <%= f.text_field :date, class:"form-control"%>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>  
    <div class='col-md-3'>
        <div class="form-group">
            <label for="challenge-name" class="form-control-label">Start date:</label>
            <div class='input-group date' id='datetimepicker7'>
                <%= f.text_field :date, class:"form-control"%>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
</div>
          <div class="form-group">
            <label for="challenge-rules" class="form-control-label">Rules:</label>
            <%= f.text_field :quantity, class:"form-control"%>
          </div>
          <div class="form-group">
            <label for="description-text" class="form-control-label">Description:</label>
            <%= f.text_field :comments, class:"form-control"%>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
      <% end %>