<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <%= form_image_select(@post) %>
        <%= simple_form_for @post, html: { multipart: true } do |f| %>
          <div class="row">
            <div class="col-md-12 text-center">
              <%= f.error_notification %>
            </div>
          </div>
          <div class="container-fluid">
           <!-- <div class="form-group text-center">
              <h4>New post:</h4>
            </div>-->
            <div class="form-inline text-center">
            
            
              <%= f.input :caption, label: false, placeholder: 'Add your caption' %>
            
                        
   <label for="file-input">
     <span class="glyphicon glyphicon-camera"></span>
   </label>

   <%= f.file_field :image, id:"file-input", onChange: 'loadFile(event)' %>
          
            <div class="form-group text-center">
              <% if @post.challenge!=nil %>
                <%= f.hidden_field :challenge_id, value: @post.challenge.id %>
              <% end %>
              <%= f.button :submit, class: 'btn-success btn-block' %>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>