<table  id="duel_table" class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tiempo total</th>
      <th>Distancia</th>
      <th>Repeticiones</th>
    </tr>
  </thead>
  </thead>

  <tbody>
    <% @result.each do |user|%>
      <tr>
        <td><%= minimize_profile_avatar_select(user[:user])%> <%= user[:user].user_name %></td>
        <td><%= user[:duration] %></td>
        <td><%= user[:distance] %></td>
        <td><%= user[:quantity] %></td>
      </tr>
    <% end %>
  </tbody>
</table>